<main-header></main-header>

<section class="hero hero-overlay d-flex align-items-end justify-content-end flex-column py-5" style="background-image: url('./assets/equipo/equipo3.jpg'); background-position: 50% 25%;">
  <div class="container position-relative d-flex align-items-start justify-content-start flex-column">
    <h1 class="mb-2 text-light fn-60 text-uppercase" data-aos="fade-up" data-aos-duration="1000">Nosotros</h1>
    <p class="hero-text mb-0 fs-5 text-light" style="max-width:600px;" data-aos="fade-up" data-aos-duration="1000">Somos una destacada empresa de Real Estate con más de 22 agentes inmobiliarios altamente capacitados. Nos enorgullecemos de nuestros reconocimientos dentro del mercado inmobiliario en la Riviera Maya.</p>
  </div>
</section>

<section class="text-bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-6 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center p-3 text-bg-white" style="width: 350px; height: 350px; border-radius: 50%; overflow: hidden;">
          <figure class="d-flex align-items-center justify-content-center" style="width: 100%; height: 100%; border-radius: 50%; overflow: hidden;" data-aos="zoom-in" data-aos-duration="1000">
            <img src="./assets/equipo/equipo4.jpg" class="h-100">
          </figure>
        </div>
      </div>
      <div class="col-6 d-flex align-items-end justify-content-center flex-column">
        <h2 class="fn-50 text-end text-uppercase mb-3" data-aos="fade-right" data-aos-duration="1000">Miroh Master<br>Broker</h2>
        <p class="fn-16 text-end">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo.</p>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-4 mb-5">
      <div class="w-lg-50" data-aos="fade-up" data-aos-duration="1000">
        <p class="fs-5 fw-light m-0 text-justify mb-3">Contamos con un amplio portafolio de <strong>desarrollos de lujo</strong> en la hermosa <strong>Riviera Maya</strong>, con la mayor <strong>rentabilidad</strong> en inversiones, las mejores <strong>ubicaciones</strong>, los mejores <strong>precios</strong> por m2 y opciones de <strong>financiamiento</strong> flexibles. Somos una empresa destacada altamente capacitada de <strong>Real Estate</strong>, con amplios reconocimientos dentro de nuestro mercado inmobiliario.</p>
        <div class="d-flex align-items-center justify-content-start">
          <a routerLink="/propiedades" class="d-flex align-items-center justify-content-center fn-20" data-aos="fade-right" data-aos-duration="1000">Nuestras propiedades<i class="bi bi-arrow-bar-right fn-30 ms-2"></i></a>
        </div>
      </div>
      <figure class="w-100 w-lg-50 m-0 rounded-1 overflow-hidden" data-aos="fade-up" data-aos-duration="1000">
        <img src="./assets/equipo/equipo1.jpg" alt="" class="w-100 h-100">
      </figure>
    </div>
    <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-4">
      <figure class="w-100 w-lg-50 m-0 rounded-1 overflow-hidden" data-aos="fade-up" data-aos-duration="1000">
        <img src="./assets/images/about3.jpg" alt="" class="w-100 h-100">
      </figure>
      <div class="w-lg-50" data-aos="fade-up" data-aos-duration="1000">
        <p class="fs-5 fw-light m-0 text-justify mb-4">Desbloquea todo el potencial de tus propiedades con nuestro <strong>Servicios de Administración de Propiedades</strong>. Eleva tus inversiones en bienes raíces con nuestro equipo experto y experimenta el éxito en alquileres sin complicaciones en la <strong>Riviera Maya</strong>. Atraemos clientes potenciales con nuestras eficientes <strong>estrategias de marketing</strong>. Creamos <strong>experiencias inolvidables</strong> para tus huespedes. Contamos con una <strong>administración eficiente</strong> para tu confianza.</p>
        <a href="./assets/files/tulumirental.pdf" download="Miroh Master Broket - TulumIRental.pdf" class="btn btn-primary py-2 px-4" style="border-radius: 100px;"><i class="bi bi-download me-2"></i>Saber más</a>
      </div>
    </div>
  </div>
</section>

<section class="text-bg-light py-5">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center mb-5">
      <div class="mx-5" data-aos="fade-up" data-aos-duration="1000">
        <figure class="mb-2 d-flex align-items-start justify-content-center text-bg-primary" style="width: 250px; height: 250px; overflow: hidden; border-radius: 250px;">
          <img src="./assets/equipo/michelle.jpg" class="w-100 h-auto">
        </figure>
        <h4 class="text-center">Michelle Ramos</h4>
        <p class="fs-5 fw-light m-0 text-center">CEO</p>
      </div>
      <div class="mx-5" data-aos="fade-up" data-aos-duration="800">
        <figure class="mb-2 d-flex align-items-start justify-content-center text-bg-primary" style="width: 250px; height: 250px; overflow: hidden; border-radius: 250px;">
          <img src="./assets/equipo/rodrigo.jpg" class="w-100 h-auto">
        </figure>
        <h4 class="text-center">Rodrigo Choperena</h4>
        <p class="fs-5 fw-light m-0 text-center">CFO</p>
      </div>
      <div class="mx-5" data-aos="fade-up" data-aos-duration="900">
        <figure class="mb-2 d-flex align-items-start justify-content-center text-bg-primary" style="width: 250px; height: 250px; overflow: hidden; border-radius: 250px;">
          <img src="./assets/equipo/humberto.jpg" class="w-100 h-auto">
        </figure>
        <h4 class="text-center">Humberto Gonzalez</h4>
        <p class="fs-5 fw-light m-0 text-center"> COO </p>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <div class="mx-5" data-aos="fade-up" data-aos-duration="700">
        <figure class="mb-2 d-flex align-items-start justify-content-center text-bg-primary" style="width: 250px; height: 250px; overflow: hidden; border-radius: 250px;">
          <img src="./assets/equipo/arabela.jpg" class="w-100 h-auto">
        </figure>
        <h4 class="text-center">Arabella Garcia</h4>
        <p class="fs-5 fw-light m-0 text-center">SALES MANAGER</p>
      </div>
      <div class="mx-5" data-aos="fade-up" data-aos-duration="500">
        <figure class="mb-2 d-flex align-items-start justify-content-center text-bg-primary" style="width: 250px; height: 250px; overflow: hidden; border-radius: 250px;">
          <img src="./assets/equipo/sergio.jpg" class="w-100 h-auto">
        </figure>
        <h4 class="text-center">Sergio Corona</h4>
        <p class="fs-5 fw-light m-0 text-center">Team Leader</p>
      </div>
      <div class="mx-5" data-aos="fade-up" data-aos-duration="800">
        <figure class="mb-2 d-flex align-items-start justify-content-center text-bg-primary" style="width: 250px; height: 250px; overflow: hidden; border-radius: 250px;">
          <img src="./assets/equipo/lorenzo.jpg" class="w-100 h-auto">
        </figure>
        <h4 class="text-center">Lorenzo Garcia</h4>
        <p class="fs-5 fw-light m-0 text-center">Team Leader</p>
      </div>
      <div class="mx-5" data-aos="fade-up" data-aos-duration="800">
        <figure class="mb-2 d-flex align-items-start justify-content-center text-bg-primary" style="width: 250px; height: 250px; overflow: hidden; border-radius: 250px;">
          <img src="./assets/equipo/paul.jpg" class="w-100 h-auto">
        </figure>
        <h4 class="text-center">Paul Garcia</h4>
        <p class="fs-5 fw-light m-0 text-center">Administrativo</p>
      </div>
    </div>
  </div>
</section>

<main-footer></main-footer>
