<main-header></main-header>

<section class="hero hero-overlay d-flex align-items-end justify-content-end flex-column py-5" style="background-image: url('./assets/images/cover5.jpg'); background-position: 50% 25%;">
  <div class="container position-relative d-flex align-items-start justify-content-start flex-column">
    <h1 class="mb-2 text-light fn-60 text-uppercase">Aviso de privacidad</h1>
    <p class="hero-text mb-0 fs-5 text-light" style="max-width:500px;">Actualización 2024.</p>
  </div>
</section>

<section class="py-5">
    <div class="container">
        <p class="mb-3" style="text-align:justify;">MIROH Master Bróker SA. de C.V., con domicilio en Calle Itzamná Norte, Número 01 , Lote
          58, Manzana 26, Aldea Zamá, C.P. 77760, Tulum, Quintana Roo, pone a su disposición el
          presente Aviso de Privacidad, a fin de dar cumplimiento a la Ley Federal de Protección de
          Datos Personales en Posesión de los Particulares, así como a su Reglamento, y a su vez
          para informar el tratamiento que le da a los datos personales de sus clientes y prospectos
          a clientes, garantizando en todo momento la forma en que se obtienen, usan, divulgan y
          almacenan éstos datos.</p>
        <p class="mb-3" style="text-align:justify;"><strong>Finalidades y usos de los datos personales.-</strong> Sus datos personales, serán recabados y
          tratados para las siguientes finalidades: Verificar y confirmar su identidad, documentar,
          elaboración de contratos, gestiones inmobiliarias y todas las acciones encaminadas a la
          compraventa y arrendamiento inmobiliario.</p>
        <p class="mb-3" style="text-align:justify;">MIROH Master Bróker SA. de C.V., durante el uso y tratamiento de los datos personales
          observa en todo momento los principios de licitud, consentimiento, información, calidad,
          finalidad, lealtad, proporcionalidad y responsabilidad establecidos en la Ley.</p>
        <p class="mb-3" style="text-align:justify;"><strong>Datos Personales sujetos a tratamiento.-</strong> Para llevar a cabo las finalidades descritas en el
          presente aviso de privacidad, utilizaremos datos personales de identificación, contacto,
          laborales y patrimoniales.</p>
        <p class="mb-3" style="text-align:justify;">Los datos personales, son recabados y tratados bajo estrictas medidas de seguridad
          administrativas, físicas y técnicas, garantizando en todo momento su confidencialidad y
          siendo necesarios para llevar a cabo adecuadamente los servicios proporcionados por
          MIROH Master Bróker SA. de C.V., a favor del Titular.</p>
        <p class="mb-3" style="text-align:justify;">Asimismo, podrán tratarse otros datos personales, que no se incluyan dentro de los
          anteriores, siempre y cuando dichos datos sean de la misma naturaleza o no excedan de
          las finalidades para las que se recaban.</p>
        <p class="mb-3" style="text-align:justify;">Para los fines señalados en el presente Aviso de Privacidad, MIROH Master Bróker SA. de
          C.V., podrá recabar sus datos personales de diversas formas: por escrito, vía electrónica o
          telefónicamente.</p>
        <p class="mb-3" style="text-align:justify;"><strong>Transferencias de datos personales.-</strong> MIROH Master Bróker SA. de C.V., no cederá o
          transferirá sus datos personales, a terceros, no relacionados con la referida empresa.</p>
        <p class="mb-3" style="text-align:justify;"><strong>Seguridad respecto a sus datos personales.-</strong> MIROH Master Bróker SA. de C.V. ha
          adoptado las medidas de seguridad, administrativas, técnicas y físicas, necesarias para
          proteger sus datos personales, y evitar la pérdida, alteración, destrucción, uso, acceso y
          divulgación indebida. El acceso a sus datos personales se limitará a las personas que
          necesiten tener acceso a dicha información, con el propósito de llevar a cabo las
          finalidades identificadas en este Aviso de Privacidad.</p>
        <p class="mb-3" style="text-align:justify;"><strong>Derechos que le corresponden respecto a sus datos personales.-</strong> Usted podrá ejercitar
          ante MIROH Master Bróker SA. de C.V. los derechos de acceso, rectificación, cancelación y
          oposición, establecidos en la Ley. Asimismo, podrá revocar, en todo momento, el
          consentimiento que haya otorgado y que fuese necesario para el tratamiento de sus datos
          personales, así como solicitar que se eliminen, limiten el uso o divulgación de estos.</p>
        <p style="text-align:justify;"><strong>Cambios al Aviso de Privacidad.-</strong> MIROH Master Bróker SA. de C.V., se reserva el derecho
          de actualizar o modificar en cualquier momento, total o parcialmente, el presente Aviso
          de Privacidad, a efecto de atender cualquier novedad legislativa o jurisprudencial, así
          como por políticas internas o requerimientos necesarios para prestar los servicios que
          ofrece.</p>
    </div>
</section>

<main-footer></main-footer>
