section.hero {
  height: 100vh;
  &.hero-overlay::before {
    background-color: rgba(0, 0, 0, 0.3);
    background-image: none;
  }
}

article.property-thumb {
  box-shadow: var(--bs-box-shadow-sm);
  .card-header {
    height: 250px;
    width: 100%;
    position: relative;
    padding: 0;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
