#main-header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.0);
  z-index: 999;
  width: 100%;

  #logotype {
    max-width: 150px;
  }

  .btn-primary {
    background-color: #fff;
    border-color: #fff;
    color: #212121;
  }

  .navbar-nav {
    --bs-nav-link-hover-color: var(--bs-secondary);
    --bs-navbar-active-color: var(--bs-secondary);

    .nav-item {
      &:hover {
        --bs-nav-link-color: var(--bs-secondary);
      }

      .nav-link {
        --bs-nav-link-padding-y: 1rem;
        --bs-nav-link-padding-x: 1rem;
        color: #fff;

        &:hover,
        &.active {
          color: var(--bs-primary) !important;
        }
      }

      &.dropdown {
        .dropdown-menu {
          margin-top: 0;
          position: absolute;

          .dropdown-item {
            --bs-dropdown-link-active-bg: none;
            --bs-dropdown-link-active-color: var(--bs-secondary);
            --bs-dropdown-link-hover-bg: none;
            --bs-dropdown-link-hover-color: var(--bs-secondary);
          }
        }

        &.dropdown-mega {
          position: static;

          .mega-menu {
            left: 0 !important;
            right: 0 !important;
            width: auto !important;
            max-width: none !important;

            &.mega-menu-dark {
              color: var(--bs-white) !important;
              background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;

              .dropdown-item {
                color: var(--bs-white);
              }
            }

            .mega-menu-content {
              padding: 0.2rem 2rem !important;
              margin: 1.8rem 0 !important;

              .dropdown-item {
                --bs-dropdown-link-active-bg: none;
                --bs-dropdown-link-hover-bg: none;
                outline: none;
                padding-left: 0;
                padding-right: 0;
              }

              & > span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                position: absolute;
                bottom: 0.5rem;
                left: 0;
                text-align: center;
              }
            }

            .mega-menu-scroll {
              scrollbar-width: none;
              overflow-y: scroll;
            }

            @media (min-width: 1400px) {
              .mega-menu-scroll {
                height: min-content;
              }
              .nav-link {
                color: #212121;
              }
            }
            @media (min-width: 1200px) and (max-width: 1399.98px) {
              .mega-menu-scroll {
                height: min-content;
              }
            }
            @media (min-width: 992px) and (max-width: 1199.98px) {
              .mega-menu-scroll {
                height: min-content;
              }
            }
          }
        }
      }
    }
  }
}

#main-header.floatingBottom {
  bottom: 0px;
}

#main-header.floatingTop {
  top: 0px;
}

::ng-deep .offcanvas {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 20rem;
  --bs-offcanvas-height: 30vh;
  --bs-offcanvas-padding-x: 1.5rem;
  --bs-offcanvas-padding-y: 1.5rem;
  --bs-offcanvas-border-width: 0;
  --bs-offcanvas-border-color: transparent;
  --bs-offcanvas-box-shadow: none;
  --bs-offcanvas-transition: transform 0.3s ease-in-out;
  --bs-offcanvas-title-line-height: 1;

  .offcanvas-body {
    .navbar-nav {
      .nav-item {
        .nav-link {
          width: 100%;
          text-align: start;

          &.dropdown-toggle {
            position: relative;

            &::after {
              content: "";
              vertical-align: -0.125em;
              background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708' /></svg>");
              background-repeat: no-repeat;
              background-size: 1rem 1rem;
              border: none;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              width: 20px;
              height: 16px;
              margin: auto;
            }
          }
        }

        .dropdown-menu {
          position: static !important;
          transform: none !important;
          box-shadow: none;
          padding: 20px 0;

          .dropdown-item {
            --bs-dropdown-link-active-bg: none;
            --bs-dropdown-link-hover-bg: none;
          }

          .mega-menu-content {
            padding: 0 !important;
            margin: 0 !important;
          }
        }
      }
    }
  }

  .offcanvas-footer {
    display: flex;
    flex-shrink: 0;
    margin-top: auto;
    padding: 1.5rem 0;

    .social a {
      transition: all 0.2s ease-in-out;
      transform: translateY(0);
      margin: 0 1.25rem 0 0;

      &,
      & > * {
        font-size: 1.25rem;
        width: 20px;
        height: 20px;
        display: block;
        line-height: 0;
      }
    }
  }
}
